<h2>Favorites</h2>
<ol>
  {{#each model as |favorite|}}
    <li>
      <LinkTo @route="detail" @model={{favorite.imdbID}}>
        {{favorite.title}}
      </LinkTo>
    </li>
  {{else}}
    <li>You got no favs</li>
  {{/each}}
</ol>

{{outlet}}