<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Welcome to the Movie App!</h1>
    <p class="lead">Search an endless amount of movies and TV shows.</p>
    <hr class="my-4">
    <p>To get started, click the search button below!</p>
    <a class="btn btn-primary btn-lg" href="/search" role="button">Search</a>
  </div>
</div>

{{outlet}}